@use '../vars.scss';

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    margin-top: auto;
    padding: 0 8px;

    @include vars.tablet {
        display: flex;
        background-color: vars.$background-primary;
    }
}
