@use '../vars.scss';

.select-component-wrapper {
    position: relative;

    .select-component {
        position: relative;
        // max-width: 240px;
        min-width: 124px;
        padding: 0 8px 0 12px;
        height: 48px;
        display: flex;
        align-items: center;
        border-radius: 2px;
        border: 2px solid vars.$darkner-16;
        background: vars.$background-primary;
        transition: border-color 0.2s;

        // @include mobile {
        //     max-width: none;
        //     height: 44px;
        //     padding: 0 16px;
        // }

        &:hover {
            border-color: vars.$darkner-24;
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }

        &_selected {
            // border-bottom-color: vars.$link-500;

            .select-component__label {
                // color: #006fbc;
            }
        }

        &.ss-disabled {
            border-color: vars.$darkner-4;
            background-color: vars.$darkner-4;

            .ss-values {
                color: vars.$text-secondary;
            }

            .ss-arrow {
                path {
                    fill: vars.$text-secondary;
                }
            }
        }

        &__label {
            margin-bottom: 4px;
            color: #5c5c5c;
            font-size: 12px;
            line-height: 16px;
        }

        &__reset {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 22px;
            height: 34px;
            top: 1px;
            right: 8px;
            padding: 0;
            border: none;
            cursor: pointer;
            background-color: transparent;

            // @include mobile {
            //     height: 44px;
            //     right: 16px;
            // }
        }

        &__reset-icon {
            width: 16px;
            height: 16px;
            fill: #8f8f8f;
        }

        .ss-values {
            color: #1f1f1f;
            font-size: 14px;
            line-height: 20px;

            .ss-placeholder,
            .ss-single {
                padding: 0;
                margin: 0;
                font-size: 16px;
                line-height: 24px;

                // @include mobile {
                //     font-size: 16px;
                //     line-height: 24px;
                // }
            }
        }
    }

    .ss-open-below {
        border-bottom-color: vars.$link-500;

        &:hover {
            border-bottom-color: vars.$link-500;
        }

        // border-bottom-right-radius: 8px !important;
        // border-bottom-left-radius: 8px !important;
    }

    .ss-arrow {
        flex-shrink: 0;
        width: 12px;
        height: 12px;
        margin-left: 12px;
        margin-right: 4px;

        path {
            stroke: none;
            fill: vars.$text-primary;
        }
    }
}

.ss-content {
    margin-top: 4px !important;
    border-radius: 2px;
    border-bottom-right-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
    background: #fff;
    box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.06),
        0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 0px 1px 0px rgba(0, 0, 0, 0.04);

    .ss-list {
        padding: 8px;
    }

    .ss-option:not(.ss-hide) {
        display: block !important;
        border-radius: 2px;
        padding: 14px 8px !important;
        color: #1f1f1f !important;
        font-size: 14px;
        line-height: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
            background-color: rgba(1, 144, 219, 0.08) !important;
        }

        &.ss-selected {
            background-color: rgba(1, 144, 219, 0.08) !important;
        }
    }

    .ss-list {
        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            border: 2px solid #d6d6d6;
        }

        &::-webkit-scrollbar-track {
            background-color: #fff;
            border-radius: 10px;
        }
    }
}
