@use '../vars.scss';

.text-input {
    position: relative;
    display: flex;
    flex-direction: column;

    &__label {
        margin-bottom: 4px;
        margin-left: 2px;
        font-size: 14px;
        line-height: 20px;
    }

    &__input {
        min-height: 48px;
        padding: 10px 34px 10px 16px;
        border-radius: 2px;
        border: 2px solid vars.$darkner-24;
        background-color: vars.$background-primary;
        color: inherit;
        font-family: inherit;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        transition: all 0.2s;

        &::placeholder {
            color: vars.$text-third;
        }

        &:hover {
            border-color: vars.$darkner-24;
        }

        &:focus {
            outline: none;
            border-bottom-color: vars.$link-500;
        }

        &:disabled {
            border-color: vars.$darkner-8;
            background-color: vars.$darkner-8;
        }

        &.error {
            border-color: vars.$red-500;
        }

        &_force-alert {
            border-color: vars.$red-500;
        }
    }

    &__input-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &__reset {
        display: none;
    }

    &__show {
        display: flex;
    }

    &__reset,
    &__show {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
        width: 24px;
        height: 24px;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            svg {
                color: vars.$text-primary;
            }
        }

        &.active {
            display: flex;
        }
    }

    &__icon {
        color: vars.$text-primary;
        transition: all 0.2s;
    }

    &__alert {
        display: none;
        margin-top: 4px;
        color: vars.$red-500;
        font-size: 14px;
        line-height: 20px;

        &.active {
            display: block;
        }
    }

    &__addon {
        margin-top: 4px;
        font-size: 14px;
        line-height: 20px;
    }

    &__sub-text {
        margin-top: 4px;
        color: vars.$text-secondary;
        font-size: 14px;
        line-height: 20px;
    }

    &__force-alert {
        margin-top: 4px;
        color: vars.$red-500;
        font-size: 14px;
        line-height: 20px;
    }
}
