mixin icon-logo(className='')
    svg(class=className width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg")
        rect(x="26.4281" y="7.57193" width="10.6667" height="26.6667" rx="5.33333" transform="rotate(45 26.4281 7.57193)" fill="url(#paint0_linear_199_2074)")
        rect(x="18.8856" y="0.0294495" width="10.6667" height="26.6667" rx="5.33333" transform="rotate(45 18.8856 0.0294495)" fill="url(#paint1_linear_199_2074)")
        defs
            linearGradient(id="paint0_linear_199_2074" x1="31.7614" y1="7.57193" x2="31.7614" y2="34.2386" gradientUnits="userSpaceOnUse")
                stop(stop-color="#329F5B")
                stop(offset="0.8" stop-color="#329F5B" stop-opacity="0")
            linearGradient(id="paint1_linear_199_2074" x1="24.219" y1="0.0294495" x2="24.219" y2="26.6961" gradientUnits="userSpaceOnUse")
                stop(offset="0.2" stop-color="#F0544F" stop-opacity="0")
                stop(offset="1" stop-color="#F0544F")
