@use '../vars.scss';

.main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__settings-button {
        display: none;
        width: 48px;
        height: 48px;
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
        border-radius: 2px;
        cursor: pointer;
        transition: background-color 0.2s;

        @include vars.mobile {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover,
        &:focus {
            outline: none;
            background-color: vars.$darkner-8;
        }
    }

    &__settings-icon {
        width: 32px;
        height: 32px;
        color: vars.$text-secondary;
    }
}

.filter {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    @include vars.tablet {
        padding-bottom: 16px;
    }

    @include vars.mobile {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        padding-bottom: 0;
    }

    &__block {
        display: flex;
        gap: 16px;
        flex-wrap: nowrap;

        @include vars.mobile {
            grid-column: span 2;
            display: grid;
            grid-template-columns: 112fr 200fr;
            grid-template-rows: auto auto;
        }
    }

    &__month {
        @include vars.mobile {
            grid-row: 1;
        }
    }

    &__apply {
        @include vars.mobile {
            grid-row: 1;
        }
    }

    &__rate {
        @include vars.mobile {
            grid-column: span 2;
        }
    }
}

.main-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    @include vars.mobile {
        display: flex;
        flex-direction: column;
    }
}

.main-table-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px 16px;
    border-radius: 2px;
    background-color: vars.$background-primary;

    &_full-width {
        grid-column: span 2;

        @include vars.mobile {
            grid-column: auto;
        }
    }

    &__title-wrapper {
        display: flex;
        gap: 12px;
    }

    &__icon {
        width: 24px;
        height: 24px;
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }

    &__content {
        display: grid;
        grid-template-columns: 120fr 176fr;
        gap: 24px;

        @include vars.mobile {
            grid-template-columns: 44% 56%;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__block-title {
        font-size: 14px;
        line-height: 20px;

        &_warning {
            color: vars.$red-600;
        }
    }

    &__block-text {
        display: grid;
        grid-template-columns: min-content auto;
        grid-template-rows: auto auto;
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;

        &_up {
            color: vars.$green-500;
        }

        &_down {
            color: vars.$red-600;
        }
    }

    &__text-price {
        text-wrap: nowrap;
    }

    &__sub-text {
        grid-column: 1 / -1;
        margin-top: 8px;
        font-size: 12px;
        line-height: 16px;
    }

    &__caret {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        align-self: center;
        margin-right: 2px;

        &_up {
            color: vars.$green-500;
        }

        &_down {
            color: vars.$red-600;
        }
    }

    &__tag {
        width: fit-content;
        height: 20px;
        margin-left: 8px;
        align-self: center;
        display: flex;
        padding: 0 2px 0 4px;
        border-radius: 2px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;

        &_up {
            background-color: vars.$green-100;
            color: vars.$green-600;
        }

        &_down {
            background-color: vars.$red-100;
            color: vars.$red-600;
        }

        &_neutral {
            background-color: vars.$darkner-8;
            color: vars.$text-secondary;
        }

        .main-table-card__caret {
            width: 12px;
            height: 12px;
        }
    }

    &__week {
        display: flex;
        justify-content: space-between;
        gap: 24px;

        @include vars.mobile {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
