@use '../vars.scss';

.profile-title {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &__subtitle {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }
}

.user-subscribe {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.user-subscribe-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px 16px;
    border-radius: 2px;
    background-color: vars.$background-primary;

    &_error {
        background-color: vars.$red-100;
    }

    &__title-block {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }

    &__sub-title {
        font-size: 14px;
        line-height: 20px;
    }

    &__content-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;

        @include vars.mobile {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__status {
        display: flex;
        align-items: center;
        gap: 4px;

        &_ok {
            .user-subscribe__status-text {
                color: vars.$green-600;
            }
        }

        &_warning {
            .user-subscribe__status-text {
                color: vars.$yellow-700;
            }
        }

        &_error {
            .user-subscribe__status-text {
                color: vars.$red-600;
            }
        }
    }

    &__status-icon {
        width: 24px;
        height: 24px;
        flex-shrink: 1;
    }

    &__status-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
}

.price-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px 16px;
    border-radius: 2px;
    background-color: vars.$background-primary;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__header-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include vars.mobile {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__price {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 2px;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
    }

    &__icon {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }

    &__info {
        display: flex;
        align-items: center;
        width: fit-content;
        gap: 2px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }

    &__rate {
        font-size: 14px;
        line-height: 20px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__content-text {
        font-size: 16px;
        line-height: 24px;
    }

    &__link {
        font-size: inherit;
        font-weight: inherit;
        text-decoration: none;
        color: vars.$link-600;
    }

    &__button {
        width: fit-content;
    }

    &__footer {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }
}

.plans {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    @include vars.mobile {
        display: flex;
        flex-direction: column;
    }
}

.plan-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px 16px;
    border-radius: 2px;
    background-color: vars.$background-primary;

    &__title-block {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-bottom: 24px;
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }

    &__sub-title {
        font-size: 16px;
        line-height: 24px;
    }

    &__price-block {
        display: flex;
        align-items: baseline;
        gap: 4px;
        margin-top: auto;
    }

    &__price {
        font-size: 32px;
        line-height: 44px;
    }

    &__price-label {
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
    }

    &__button {
        width: fit-content;
    }
}

.plans-description {
    font-size: 14px;
    line-height: 20px;
}
