mixin text-area({label, placeholder="", value='', className=''})
    - var counterClass = label === '' ? 'text-area__counter_top' : '';

    .text-area.js-text-area-node(class=className)
        if label
            .text-area__label= label
        textarea.text-area__input.js-text-area(placeholder=placeholder)= value
        .text-area__counter(class=counterClass)
            .js-text-area-counter 0
            div /
            div 1500
