doctype html
html
    block variables
    head
        meta(content="text/html; charset=utf-8", http-equiv="Content-Type")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=1")
        meta(content="", name="Description")
        meta(content="", name="Keywords")
        meta(content="index,follow", name="robots")
        title Trendista Global
        link(rel="stylesheet" href="libs/slimselect.css")
        link(rel="stylesheet" href="css/index.css")
    body
        block header
            include includes/header.pug

        block content

        block footer
            include includes/footer.pug

    script(src='libs/slimselect.js')
    script(src="js/index.js")
