extends ../layout.pug

block variables
  - var page = 'index'

block content
    //- include ../components/button.pug
    //- include ../icons/icon-curet.pug
    //- include ../icons/icon-plus.pug
    //- include ../icons/icon-minus.pug

    main.main
