extends ../layout.pug

block variables
  - var page = 'index'

block content
    include ../components/button.pug
    include ../components/select.pug

    main.main
        h1.title Мои отчёты
        .filter
            +select({elements: [{value: 'Январь', text: 'Январь'},{value: 'Февраль', text: 'Февраль'},{value: 'Март', text: 'Март'},{value: 'Апрель', text: 'Апрель'},{value: 'Май', text: 'Май'},{value: 'Июнь', text: 'Июль'},{value: 'Август', text: 'Август'},{value: 'Сентябрь', text: 'Сентябрь'},{value: 'Октябрь', text: 'Октябрь'},{value: 'Ноябрь', text: 'Ноябрь'},{value: 'Декабрь', text: 'Декабрь'}], className: 'filter__month'})
            +select({elements: [{value: 'Сравнить с прошлым годом', text: 'Сравнить с прошлым годом'},{value: 'Сравнить с позапрошлым годом', text: 'Сравнить с позапрошлым годом'}], className: 'filter__rate'})
            +select({elements: [{value: 'Россия', text: 'Россия'},{value: 'Китай', text: 'Китай'}], className: 'filter__country', disabled: 'true'})
            +select({elements: [{value: 'Москва', text: 'Москва'},{value: 'Казань', text: 'Казань'}], className: 'filter__city'})
            +button({text: 'Показать', className: 'filter__apply'})
        h2.sub-title Декабрь 2024 к декабрю 2023
        .content
            .main-table
                .main-table-card
                    .main-table-card__title-wrapper
                        img.main-table-card__icon(src="img/MoneyWavy.svg")
                        .main-table-card__title Общая выручка
                    .main-table-card__content
                        .main-table-card__block
                            .main-table-card__block-title Все салоны
                            .main-table-card__block-content
                                .main-table-card__block-text.main-table-card__block-text_up
                                    img.main-table-card__caret.main-table-card__caret_up(src="img/CaretUp.svg")
                                    span 13,52%
                        .main-table-card__block
                            .main-table-card__block-title Мой салон
                            .main-table-card__block-content
                                .main-table-card__block-text.main-table-card__block-text_up
                                    img.main-table-card__caret.main-table-card__caret_up(src="img/CaretUp.svg")
                                    span 20,58%
                .main-table-card
                    .main-table-card__title-wrapper
                        img.main-table-card__icon(src="img/Wallet.svg")
                        .main-table-card__title Средний чек за визит
                    .main-table-card__content
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2023
                            .main-table-card__block-content
                                .main-table-card__block-text 2 994,90 ₽
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2024
                            .main-table-card__block-content
                                .main-table-card__block-text 3 516,77 ₽
                                    .main-table-card__tag.main-table-card__tag_up
                                        img.main-table-card__caret.main-table-card__caret_up(src="img/CaretUp.svg")
                                        span 17,43%
                .main-table-card.main-table-card_full-width
                    .main-table-card__title-wrapper
                        img.main-table-card__icon(src="img/CalendarDays.svg")
                        .main-table-card__title Процент дохода по дням недели
                    .main-table-card__week
                        .main-table-card__block
                            .main-table-card__block-title Пн
                            .main-table-card__block-content
                                .main-table-card__block-text 13,83%
                        .main-table-card__block
                            .main-table-card__block-title Вт
                            .main-table-card__block-content
                                .main-table-card__block-text  13,11%
                        .main-table-card__block
                            .main-table-card__block-title Ср
                            .main-table-card__block-content
                                .main-table-card__block-text 12,42%
                        .main-table-card__block
                            .main-table-card__block-title Чт
                            .main-table-card__block-content
                                .main-table-card__block-text 12,87%
                        .main-table-card__block
                            .main-table-card__block-title Пт
                            .main-table-card__block-content
                                .main-table-card__block-text 13,62%
                        .main-table-card__block
                            .main-table-card__block-title.main-table-card__block-title_warning Сб
                            .main-table-card__block-content
                                .main-table-card__block-text 15,75%
                        .main-table-card__block
                            .main-table-card__block-title.main-table-card__block-title_warning Вс
                            .main-table-card__block-content
                                .main-table-card__block-text 18,39%
                .main-table-card
                    .main-table-card__title-wrapper
                        img.main-table-card__icon(src="img/Clock.svg")
                        .main-table-card__title Среднее полезное время
                    .main-table-card__content
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2023
                            .main-table-card__block-content
                                .main-table-card__block-text 53%
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2024
                            .main-table-card__block-content
                                .main-table-card__block-text 
                                    span 53%
                                    .main-table-card__tag.main-table-card__tag_neutral
                                        span 0,00%
                .main-table-card
                    .main-table-card__title-wrapper
                        img.main-table-card__icon(src="img/Percent.svg")
                        .main-table-card__title Соотношение услуг и продаж по выручке
                    .main-table-card__content
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2023
                            .main-table-card__block-content
                                .main-table-card__block-text 97%
                                .main-table-card__block-text 97%
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2024
                            .main-table-card__block-content
                                .main-table-card__block-text 96,81%
                                    .main-table-card__tag.main-table-card__tag_down
                                        img.main-table-card__caret.main-table-card__caret_up(src="img/CaretDown.svg")
                                        span 0,19%
                                .main-table-card__block-text 3,19%
                                    .main-table-card__tag.main-table-card__tag_up
                                        img.main-table-card__caret.main-table-card__caret_up(src="img/CaretUp.svg")
                                        span 0,19%
                        .main-table-card__block
                            .main-table-card__block-text
                .main-table-card
                    .main-table-card__title-wrapper
                        img.main-table-card__icon(src="img/UsersThree.svg")
                        .main-table-card__title Общее количество визитов
                    .main-table-card__content
                        .main-table-card__block
                            .main-table-card__block-title Все салоны
                            .main-table-card__block-content
                                .main-table-card__block-text.main-table-card__block-text_up
                                    img.main-table-card__caret.main-table-card__caret_up(src="img/CaretUp.svg")
                                    span 0,31%
                        .main-table-card__block
                            .main-table-card__block-title Мой салон
                            .main-table-card__block-content
                                .main-table-card__block-text.main-table-card__block-text_up
                                    img.main-table-card__caret.main-table-card__caret_up(src="img/CaretUp.svg")
                                    span 0,09%
                .main-table-card
                    .main-table-card__title-wrapper
                        img.main-table-card__icon(src="img/Scissors.svg")
                        .main-table-card__title Выручка по услугам
                    .main-table-card__content
                        .main-table-card__block
                            .main-table-card__block-title Все салоны
                            .main-table-card__block-content
                                .main-table-card__block-text.main-table-card__block-text_up
                                    img.main-table-card__caret.main-table-card__caret_up(src="img/CaretUp.svg")
                                    span 13,7%
                        .main-table-card__block
                            .main-table-card__block-title Мой салоны
                            .main-table-card__block-content
                                .main-table-card__block-text.main-table-card__block-text_up
                                    img.main-table-card__caret.main-table-card__caret_up(src="img/CaretUp.svg")
                                    span 16,23%
                .main-table-card
                    .main-table-card__title-wrapper
                        img.main-table-card__icon(src="img/Basket.svg")
                        .main-table-card__title Количество продаж
                    .main-table-card__content
                        .main-table-card__block
                            .main-table-card__block-title Все салоны
                            .main-table-card__block-content
                                .main-table-card__block-text.main-table-card__block-text_up
                                    img.main-table-card__caret.main-table-card__caret_up(src="img/CaretUp.svg")
                                    span 30,67%
                        .main-table-card__block
                            .main-table-card__block-title Мой салоны
                            .main-table-card__block-content
                                .main-table-card__block-text.main-table-card__block-text_up
                                    img.main-table-card__caret.main-table-card__caret_up(src="img/CaretUp.svg")
                                    span 42,01%
                .main-table-card
                    .main-table-card__title-wrapper
                        img.main-table-card__icon(src="img/ShoppingCart.svg")
                        .main-table-card__title Выручкам по продажам
                    .main-table-card__content
                        .main-table-card__block
                            .main-table-card__block-title Все салоны
                            .main-table-card__block-content
                                .main-table-card__block-text.main-table-card__block-text_up
                                    img.main-table-card__caret.main-table-card__caret_up(src="img/CaretUp.svg")
                                    span 21,01%
                        .main-table-card__block
                            .main-table-card__block-title Мой салоны
                            .main-table-card__block-content
                                .main-table-card__block-text.main-table-card__block-text_up
                                    img.main-table-card__caret.main-table-card__caret_up(src="img/CaretUp.svg")
                                    span 28,16%
                .main-table-card
                    .main-table-card__title-wrapper
                        img.main-table-card__icon(src="img/Coins.svg")
                        .main-table-card__title Салоны использующие предоплату
                    .main-table-card__content
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2023
                            .main-table-card__block-content
                                .main-table-card__block-text 2,03%
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2024
                            .main-table-card__block-content
                                .main-table-card__block-text 2,83%
                                    .main-table-card__tag.main-table-card__tag_up
                                        img.main-table-card__caret.main-table-card__caret_up(src="img/CaretUp.svg")
                                        span 0,8%
                .main-table-card
                    .main-table-card__title-wrapper
                        img.main-table-card__icon(src="img/Certificate.svg")
                        .main-table-card__title Салоны использующие сертификаты
                    .main-table-card__content
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2023
                            .main-table-card__block-content
                                .main-table-card__block-text 30,67%
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2024
                            .main-table-card__block-content
                                .main-table-card__block-text 37,71%
                                    .main-table-card__tag.main-table-card__tag_up
                                        img.main-table-card__caret.main-table-card__caret_up(src="img/CaretUp.svg")
                                        span 7,04%
                .main-table-card
                    .main-table-card__title-wrapper
                        img.main-table-card__icon(src="img/ListBullets.svg")
                        .main-table-card__title Количество записей
                    .main-table-card__content
                        .main-table-card__block
                            .main-table-card__block-title Все салоны
                            .main-table-card__block-content
                                .main-table-card__block-text.main-table-card__block-text_down
                                    img.main-table-card__caret.main-table-card__caret_down(src="img/CaretDown.svg")
                                    span 0,73%
                        .main-table-card__block
                            .main-table-card__block-title Мой салоны
                            .main-table-card__block-content
                                .main-table-card__block-text.main-table-card__block-text_up
                                    img.main-table-card__caret.main-table-card__caret_up(src="img/CaretUp.svg")
                                    span 0,28%
                .main-table-card
                    .main-table-card__title-wrapper
                        img.main-table-card__icon(src="img/ChartPieSlice.svg")
                        .main-table-card__title Соотношение записей по телефону и записей онлайн
                    .main-table-card__content
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2023
                            .main-table-card__block-content
                                .main-table-card__block-text 67,48%
                                .main-table-card__block-text 32,52%
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2024
                            .main-table-card__block-content
                                .main-table-card__block-text 63,25%
                                    .main-table-card__tag.main-table-card__tag_down
                                        img.main-table-card__caret.main-table-card__caret_down(src="img/CaretDown.svg")
                                        span 4,23%
                                .main-table-card__block-text 36,75%
                                    .main-table-card__tag.main-table-card__tag_up
                                        img.main-table-card__caret.main-table-card__caret_up(src="img/CaretUp.svg")
                                        span 4,23%
                .main-table-card
                    .main-table-card__title-wrapper
                        img.main-table-card__icon(src="img/ListBulletsCanceled.svg")
                        .main-table-card__title Процент отмененных от общего количества записей
                    .main-table-card__content
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2023
                            .main-table-card__block-content
                                .main-table-card__block-text 27,18%
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2024
                            .main-table-card__block-content
                                .main-table-card__block-text 26,03%
                                    .main-table-card__tag.main-table-card__tag_down
                                        img.main-table-card__caret.main-table-card__caret_down(src="img/CaretDown.svg")
                                        span 1,15%
                .main-table-card
                    .main-table-card__title-wrapper
                        img.main-table-card__icon(src="img/ListChecksCanceled.svg")
                        .main-table-card__title Процент отмененных от количества подтвержденных записей
                    .main-table-card__content
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2023
                            .main-table-card__block-content
                                .main-table-card__block-text 11,06%
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2024
                            .main-table-card__block-content
                                .main-table-card__block-text 9,55%
                                    .main-table-card__tag.main-table-card__tag_down
                                        img.main-table-card__caret.main-table-card__caret_down(src="img/CaretDown.svg")
                                        span 1,51%
                .main-table-card
                    .main-table-card__title-wrapper
                        img.main-table-card__icon(src="img/ListDashesCanceled.svg")
                        .main-table-card__title Процент отмененных от количества неподтвержденных записей
                    .main-table-card__content
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2023
                            .main-table-card__block-content
                                .main-table-card__block-text 31,86%
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2024
                            .main-table-card__block-content
                                .main-table-card__block-text 32,21%
                                    .main-table-card__tag.main-table-card__tag_up
                                        img.main-table-card__caret.main-table-card__caret_up(src="img/CaretUp.svg")
                                        span 0,35%
                .main-table-card
                    .main-table-card__title-wrapper
                        img.main-table-card__icon(src="img/UserCircle.svg")
                        .main-table-card__title Процент новых от общего количества клиентов
                    .main-table-card__content
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2023
                            .main-table-card__block-content
                                .main-table-card__block-text 15,09%
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2024
                            .main-table-card__block-content
                                .main-table-card__block-text 11,83%
                                    .main-table-card__tag.main-table-card__tag_down
                                        img.main-table-card__caret.main-table-card__caret_down(src="img/CaretDown.svg")
                                        span 3,26%
                .main-table-card
                    .main-table-card__title-wrapper
                        img.main-table-card__icon(src="img/NumberCircleOne.svg")
                        .main-table-card__title Процент клиентов, сделавших одну услугу за визит
                    .main-table-card__content
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2023
                            .main-table-card__block-content
                                .main-table-card__block-text 69,44%
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2024
                            .main-table-card__block-content
                                .main-table-card__block-text 70,94%
                                    .main-table-card__tag.main-table-card__tag_up
                                        img.main-table-card__caret.main-table-card__caret_up(src="img/CaretUp.svg")
                                        span 1,5%
                .main-table-card
                    .main-table-card__title-wrapper
                        img.main-table-card__icon(src="img/NumberCircleTwo.svg")
                        .main-table-card__title Процент клиентов, сделавших две услуги за визит
                    .main-table-card__content
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2023
                            .main-table-card__block-content
                                .main-table-card__block-text 18,54%
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2024
                            .main-table-card__block-content
                                .main-table-card__block-text 18,55%
                                    .main-table-card__tag.main-table-card__tag_up
                                        img.main-table-card__caret.main-table-card__caret_up(src="img/CaretUp.svg")
                                        span 0,01%
                .main-table-card
                    .main-table-card__title-wrapper
                        img.main-table-card__icon(src="img/NumberCircleThree.svg")
                        .main-table-card__title Процент клиентов, сделавших три услуги за визит
                    .main-table-card__content
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2023
                            .main-table-card__block-content
                                .main-table-card__block-text 6,62%
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2024
                            .main-table-card__block-content
                                .main-table-card__block-text 6,48%
                                    .main-table-card__tag.main-table-card__tag_down
                                        img.main-table-card__caret.main-table-card__caret_down(src="img/CaretDown.svg")
                                        span 0,14%
                .main-table-card
                    .main-table-card__title-wrapper
                        img.main-table-card__icon(src="img/NumberCircleFour.svg")
                        .main-table-card__title
                    .main-table-card__content
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2023
                            .main-table-card__block-content
                                .main-table-card__block-text 3,81%
                        .main-table-card__block
                            .main-table-card__block-title Декабрь 2024
                            .main-table-card__block-content
                                .main-table-card__block-text 3,31%
                                    .main-table-card__tag.main-table-card__tag_down
                                        img.main-table-card__caret.main-table-card__caret_down(src="img/CaretDown.svg")
                                        span 0,5%
