extends ../layout.pug

block variables
  - var page = 'profile'

block content
    include ../components/button.pug
    include ../components/select.pug
    include ../icons/icon-settings.pug

    main.main
        .profile-title
            h1.title Профиль
            .profile-title__subtitle my.superlong.email@company.ru
        h2.sub-title Моя подписка
        .content
            .user-subscribe
                .user-subscribe-card
                    .user-subscribe-card__title-block
                        .user-subscribe-card__title Тренды рынка + мой салон
                        .user-subscribe-card__sub-title Sonline ID:
                            span 951823671
                    .user-subscribe-card__content-block
                        .user-subscribe-card__status.user-subscribe-card__status_ok
                            img.user-subscribe-card__status-icon(src="img/CheckCircle.svg")
                            .user-subscribe-card__status-text Действует до 28.02.2026
                        +button-link({text: 'Продлить за 3500 ₽', theme: 'secondary', href:'/payment'})
                .user-subscribe-card
                    .user-subscribe-card__title-block
                        .user-subscribe-card__title Тренды рынка + мой салон
                        .user-subscribe-card__sub-title Sonline ID:
                            span 951823671
                    .user-subscribe-card__content-block
                        .user-subscribe-card__status.user-subscribe-card__status_warning
                            img.user-subscribe-card__status-icon(src="img/Warning.svg")
                            .user-subscribe-card__status-text Действует до 28.02.2026
                        +button-link({text: 'Продлить за 3500 ₽', theme: 'secondary', href:'/payment'})
                .user-subscribe-card.user-subscribe-card_error
                    .user-subscribe-card__title-block
                        .user-subscribe-card__title Тренды рынка + мой салон
                        .user-subscribe-card__sub-title Sonline ID:
                            span 951823671
                    .user-subscribe-card__content-block
                        .user-subscribe-card__status.user-subscribe-card__status_error
                            img.user-subscribe-card__status-icon(src="img/XCircle.svg")
                            .user-subscribe-card__status-text Срок подписки истек
                        +button-link({text: 'Оформить за 3500 ₽', theme: 'secondary', href:'/payment'})
        h2.sub-title Бонусный счёт
        .content
            .price-card
                .price-card__header
                    .price-card__header-top
                        .price-card__price
                            .price-card__price-number 2000
                            img.price-card__icon(src='img/beautycoin.svg')
                        .price-card__info
                            .price-card__info-text Beautycoin ID:
                            .price-card__id 0000 0000 0000 0000
                    .price-card__rate 1 beautycoin = 1 рубль
                .price-card__content
                    .price-card__content-text Бонусы Beautycoin начисляются автоматически за покупку любой подписки. Начисление производится на основании фактических платежей, без учёта скидок.
                    .price-card__content-text Экономьте с каждой покупкой, оплачивайте до 50% стоимости подписки бьютикоинами. Подробнее о том, где ещё потратить бьютикоины смотрите на сайте 
                        a.price-card__link(href="https://beautycoin.ru/") https://beautycoin.ru/
                    .price-card__content-text Хотите копить и тратить бонусы? Регистрируйтесь в Beautycoin.
                .price-card__controls
                    +button-link({text: 'Регистрация', theme: 'secondary', className: 'price-card__button'})
                .price-card__footer Уже есть аккаунт Beautycoin? 
                    a.price-card__link(href="#") Подключите интеграцию
        h2.sub-title Тарифы
            .sub-title__label Вы можете сэкономить 10%, при оплате подписки на два года
        .content
            .plans
                .plan-card
                    .plan-card__title-block
                        .plan-card__title Тренды рынка
                        .plan-card__sub-title Статистический анализ данных более 3000 действующих салонов России
                    .plan-card__price-block
                        .plan-card__price 2500₽
                        .plan-card__price-label в год
                    +button-link({text: 'Оформить подписку', href:'/payment', className: 'plan-card__button'})
                .plan-card
                    .plan-card__title-block
                        .plan-card__title Тренды рынка + мой салон*
                        .plan-card__sub-title Статистический анализ данных более 3000 действующих салонов России с показателями вашего бизнеса
                    .plan-card__price-block
                        .plan-card__price 3500₽
                        .plan-card__price-label в год
                    +button-link({text: 'Оформить подписку', href:'/payment',className: 'plan-card__button'})
        .content
            .plans-description * На текущий момент сравнение показателей вашего салона с рынком доступно только при использовании CRM-систем Sonline или Yclients. По всем техническим вопросам вы можете обратиться в 
                a(href="/") службу поддержки
