@use 'reset';
@use 'fonts';
@use 'vars';

@use './components/header.scss';
@use './components/footer.scss';
@use './components/nav.scss';
@use './components/button.scss';
@use './components/accordion.scss';
@use './components/text-input.scss';
@use './components/text-area.scss';
@use './components/select.scss';
@use './components/tabs.scss';

@use './pages/index.scss';
@use './pages/profile.scss';
@use './pages/payment.scss';
@use './pages/support.scss';
@use './pages/key.scss';

* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    font-family: vars.$main-font;
    color: vars.$text-primary;
    background-color: vars.$background-secondary;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 320px;
    padding: 48px 64px 110px;

    @include vars.tablet {
        margin-left: 0;
        margin-top: 72px;
        padding: 24px 24px 86px;
    }

    @include vars.mobile {
        gap: 16px;
        padding: 16px 16px 78px;
    }
}

.content {
    max-width: 720px;
}

.title {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
}

.sub-title {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;

    &__label {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

a {
    text-decoration: none;
    color: vars.$link-600;
}

.hidden {
    display: none !important;
}

.transparent {
    opacity: 0 !important;
}

.body-lock {
    overflow: hidden;
}
